In [3]:
import pandas as pd

In [7]:
igrejas = pd.read_csv('../../data/igreja_cnpj_ativo.zip',
                   encoding='ISO-8859-1',
                   compression='zip')

/home/henriquegomide/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (8,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
igrejas.head()

,Unnamed: 0,cnpj,identificador_matriz_filial,razao_social,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_cidade_exterior,codigo_natureza_juridica,...,qualificacao_do_responsavel,capital_social,porte,opcao_pelo_simples,data_opcao_pelo_simples,data_exclusao_do_simples,opcao_pelo_mei,situacao_especial,data_situacao_especial,data_inclusao
0,1,351000100,1,CONGREGACAO HUMILDES SERVOS DA RAINHA DO AMOR,NaN,2,2005-11-03,0,NaN,3999,...,16,0.0,5,0,NaN,NaN,0,NaN,NaN,2019-07-12 22:39:55.000
1,2,86383000162,1,LAR DAS CRIANCAS LUIZ HERMANI,NaN,2,1998-07-28,0,NaN,3999,...,16,0.0,5,0,NaN,NaN,0,NaN,NaN,2019-07-12 22:40:44.000
2,3,97394000148,1,ASSOCIACAO SERVOS DE DEUS,NaN,2,2002-11-16,0,NaN,3999,...,16,0.0,5,0,NaN,NaN,0,NaN,NaN,2019-07-12 22:40:51.000
3,4,113233018814,2,IGREJA TABERNACULO EVANGELICO DE JESUS,CASA DA BENCAO,2,2008-01-02,0,NaN,3220,...,16,0.0,5,0,NaN,NaN,0,NaN,NaN,2019-07-12 22:41:03.000
4,5,113233018903,2,IGREJA TABERNACULO EVANGELICO DE JESUS,CASA DA BENCAO,2,2008-03-12,0,NaN,3220,...,16,0.0,5,0,NaN,NaN,0,NaN,NaN,2019-07-12 22:41:03.000